* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

aside {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}

header {

}




